/*
 Theme Name: ZAPPlication
 Author: WESTAF Tech Team
 Version: 1.0
*/


/* ===============
    KEYFRAMES  
   =============== */

   @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* ===============
        GLOBAL  
   =============== */

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* 1 rem = 10px */
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #444444;
}

/* ===============
    JUMBOTRON  
   =============== */
#jumbotron-wrapper {
    margin-bottom: 50px;
}

.jumbotron {
    color: white;
    background-image: url("/wp-content/themes/ZAPPlication-Blog-Theme/images/help-center-bg.png");
    /* background-image: url("../images/help-center-bg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 10%;
    margin-bottom: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#jumbo-zapp-logo {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.heading-primary {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    font-size: 60px;
    font-weight: 700;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    color: white;
    text-align: center;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .1rem;
    animation: moveInRight 1s ease-out;
}


/* ===============
      GRID-CARD STYLES  
     =============== */

.grid-wrapper {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 150px;
    grid-auto-rows: auto;
    grid-auto-flow: row;
}

.card-cont {
    width: 600px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: 50px;
    grid-auto-flow: row;
}

.card {
    margin: 1%;
    position: inherit;
    border-radius: 10px;
    border: 1px solid #A6ADB4;

}


.card-main-icon {
    color: #004976;
}

.card-icon {
    /* width: 2.2em; */
    align-self: center;
    padding-top: 10px;
    text-align: center;
    width: 2em;
}

.card-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    color: #444;
}


.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active,
.btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}


.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

  /* ===============
      BUTTONS  
   =============== */

   .link {
    color: #0065A3;
}

.link:hover {
    color: #004976;
}

a {
    color: #0065A3;
}

a:hover { 
    color:#EE7411;
}


   .btn-primary {
    background-color: #004976;
    border: 2px solid #004976;
    font-size: 14px;
    min-width: 80px;
    border-radius: 6px;
  }
  
  .btn-success {
    background-color: #148137;
    border: 2px solid #148137;
    font-size: 14px;
    min-width: 80px;
    border-radius: 6px;
  }
  
  
  .btn-success:hover {
    background-color: #ffffff;
    border: 2px solid #148137;
    font-size: 14px;
    color: #148137;
  }
  
  .btn-primary:hover {
    background-color: #ffffff;
    border: 2px solid #004976;
    font-size: 14px;
    color: #004976;
  }
  
  .btn-secondary {
    background-color: #80A4BA;
    color: #FFFFFF;
    border: 2px solid #80A4BA;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
  }
  
  
  .btn-secondary:hover {
    background-color: #FFFFFF;
    color: #444444;
    border: 2px solid #80A4BA;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 6px -6px #666666;
    -moz-box-shadow: 0 4px 6px -6px #666666;
    box-shadow: 0 4px 6px -6px #666666;
  }

/* ===============
      SIDEBAR 
   =============== */
   .col-lg-3 .col-md-3 .col-sm-3  {
    /* z-index: -1; */
    margin: 0;
    padding: 0;
  min-width: 300px;
 }
 .col-lg-9 .col-md-9 .col-sm-9  {
   min-width: 600px;
   margin: 0;
   padding: 0;
 }
 
 .col-9{
   padding-right: 10%;
   padding-left: 4%;
 }


 .sidebar { 
   width:300px;
 }

 #main-section { 
   margin-right: 100px;
   margin-left: 100px;
 }
 .btn-help-center { 
   justify-content: center;
   text-align: center;
   padding-top:40px;
   padding-bottom: 50px; 
   min-width: 150px;
 }

 .home-help-center { 
    background-color: #004976;
    border: 2px solid #004976;
    font-size: 14px;
   padding:10px;
   min-width: 150px;
   color: white;
    border-radius: 6px;
    text-decoration: none;
 }
 .home-help-center:hover { 
    background-color: white;
    border: 2px solid #004976;
    font-size: 14px;
    color: #004976;
   padding:10px;
   min-width: 150px;
    border-radius: 6px;
    text-decoration: none;
 }
 
 .list-group-item:hover{
   color:#fff !important; 
   background-color: #004976 !important;
 }

.sidebar-article-heading { 
   font-size: 20px;
}
.sidebar-section-heading { 
   font-size: 18px;
}

.sidebar-wrapper { 
   background-color: #F5F5F5;
   padding-left: 40px;
   box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.2);
}
.active-page { 
color: #A6ADB4;
}

/* ===============
      MAIN-PAGE STYLES  
   =============== */

.article-title { 
color: #004976; 
padding: 30px 0;
}

.article-section-title { 
color: #444;
font-size: 20px;
padding-top: 30px; 
}

.main-article-padding { 
    padding-top: 20px;
padding-bottom: 200px;
}

.rating { 
    font-size: 20px;
    color: #333;
    text-align: center;
}

.article-notes {
    padding-top:30px;
    font-size:12px;
}

/* ===============
      MEDIA QUERIES 
     =============== */

/* ===============
      XS - X-SMALL  
      (portrait phones, less than 576px)
     =============== */
@media (max-width: 575.98px) {

    .card-title {
        font-size: 14px;
    }

    .grid-wrapper {
        margin: 0 10vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 100px;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }

    .sidebar-wrapper{ 
        display: none;
      } 
}


/* ===============
      S - SMALL  
      (landscape phones, 576px and up)
     =============== */
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-title {
        font-size: 13px;
    }

    .grid-wrapper {
        margin: 0 10vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 150px;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }

    .sidebar-wrapper{ 
        display: none;
      } 
}


/* ===============
      M - MEDIUM  
      (tablets, 768px and up)
     =============== */
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-title {
        font-size: 14px;
        width: 100px;

    }

    .grid-wrapper {
        margin: 0 10vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 150px;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }

    .sidebar-wrapper{ 
        display: none;
      } 
}

/* ===============
      L - LARGE  
      (desktops, 992px and up)
     =============== */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .sidebar-wrapper{ 
        display: none;
      } 
}

/* ===============
      XL - X-LARGE  (large desktops, 1200px and up)
     =============== */
@media (min-width: 1200px) {
    /* ... */
}


/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    /* background: #4caf50; */
    background: #8ac340; /* Old browsers */
    background: -moz-linear-gradient(left, #8ac340 0%, #148137 20%, #27a9de 40%, #166081 60%, #f7ad41 85%, #ee7411 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #8ac340 0%,#148137 20%,#27a9de 40%,#166081 60%,#f7ad41 85%,#ee7411 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #8ac340 0%,#148137 20%,#27a9de 40%,#166081 60%,#f7ad41 85%,#ee7411 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 0%;
  }